* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  /* width: max-content; */
  background-color: #140f5ef5;
  height: max-content;
  margin: 0 auto;
}

.menu-list {
  display: none;
}

.wrapper {
  background: url("./assets/top-circles.png") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(40) repeat(6, 1fr);
}

header {
  color: rgb(238 230 230);
  display: flex;
  justify-content: center;
  margin: 40px;
}

.my-logo {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  align-self: center;
}

nav a {
  width: 50px;
  height: 50px;
  color: #d2d2da;
  text-decoration: none;
  margin: 6px;
}

.my-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.section-one,
.section-two {
  display: grid;
  justify-items: center;
  margin: 40px;
  color: rgb(255 255 255 / 66.4%);
  border-bottom: 1px solid #646369;
  padding-bottom: 30px;
}

h1,
.lets-connect-heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  font-weight: bold;
  margin-bottom: 15px;
}

.my-skills {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
}

.contact-us-heading {
  text-align: center;
  color: #7d73fc;
  font-size: 32px;
}

h4 {
  margin: 15px 0 17px;
  color: rgb(255 255 255 / 81.5%);
  text-align: center;
  font-size: 20px;
}

h3,
h2 {
  color: #9490ff;
  margin-bottom: 20px;
  font-size: 12px;
}

ul li {
  margin-bottom: 6px;
  list-style-type: none;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  color: rgb(255 255 255 / 67.1%);
}

.languages-section {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  text-align: center;
  margin: 40px;
}

.social-medias {
  text-align: center;
  color: #7d73fc;
}

.lanuage-title {
  color: #7d73fc;
}

.media1 {
  padding-top: 30px;
  border-top: 1px solid rgb(80 73 73 / 64.4%);
  margin: 40px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-me {
  padding: 15px;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/******************** My Projects Style    **************************/

.midle-section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px;
  border-top: 1px solid rgb(80 73 73 / 64.4%);
  padding-top: 40px;
}

.my-work {
  display: flex;
  justify-content: center;
  padding: 25px 0 45px;
}

.my-recent-work {
  margin: 40px;
  color: #7d73fc;
  font-size: 40px;
  border-bottom: 1px solid rgb(80 73 73 / 64.4%);
  padding-bottom: 30px;
}

.arrow-icon,
span {
  color: #a2a3ae;
  margin: 10px;
  font-size: 20px;
}

.img-placeholder-container {
  margin: 40px 0 50px;
  width: 100%;
  background-color: #fff;
  height: 236px;
}

.multipost-stories-title {
  height: max-content;
  color: #fff;
  font-size: 37px;
  margin: 30px 0 50px;
}

.multipost-story-prgph {
  height: max-content;
  font-size: 20px;
}

.my-recent-work-section {
  position: relative;
  width: fit-content;
  color: rgb(255 255 255 / 67.1%);
  padding: 40px;
  background-image: url("./assets/elipse1.png"), url("./assets/elipse2.png");
  background-repeat: no-repeat;
  background-size: 300px, 150px;
  background-position: 1px top, bottom 250px right;
  display: grid;
}

.build-with {
  color: rgb(221 212 212);
  display: flex;
  margin: 30px 0;
}

.css,
.html,
.boostrap,
.ruby {
  border-right: 1px solid rgb(80 73 73 / 64.4%);
  padding-right: 10px;
  height: 40px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.76);
}

.see-project-button {
  margin-top: 15px;
  color: rgb(255 255 255 / 67.1%);
  width: 89px;
  height: 49px;
  background-color: #7d73fc;
  border: none;
}

.see-project-button:hover {
  background-color: #968ff5;
  color: rgb(255 254 254 / 98.6%);
  cursor: pointer;
}

.section-three {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: rgb(255 255 255 / 66.4%);
  border-bottom: 1px solid #646369;
  padding-bottom: 30px;
}

.contact-us-h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  font-weight: bold;
  margin-bottom: 15px;
}

#my-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#text-input,
#mail-input {
  padding: 15px;
  width: 100%;
  border: none;
}

.footer-email {
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.863);
}

.footer {
  padding-top: 20px;
}

textarea {
  padding: 10px 10px;
}

#last-btn {
  align-self: center;
}

.arrow-icon-container {
  display: none;
}

.contact-us-heading2 {
  display: none;
}

/******************** Media queries    **************************/

@media only screen and (max-width: 700px) {
  .wrapper {
    width: auto;
    background-size: contain;
  }
}

@media screen and (min-width: 992px) {
  .my-logo {
    width: 77px;
    height: 20px;
  }

  .section-one,
  .section-two {
    border: none;
  }

  .my-skills {
    border-bottom: 1px solid #646369;
    padding-bottom: 40px;
    font-size: 17px;
  }

  h1 {
    font-size: 90px;
    color: #9390ff;
  }

  h4 {
    font-size: 40px;
  }

  #menu-icon {
    display: none;
  }

  .menu-list ul li a,
  .menu-list {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    list-style-type: none;
    display: flex;
  }

  .menu-list ul li a {
    display: block;
  }

  #mail-img {
    width: 22px;
    height: 18px;
  }

  .wrapper {
    background: url("./assets/two-header-circles.png") no-repeat;
    background-size: contain;
    background-position: center top 150px;
  }

  header {
    margin-top: 10px;
  }

  .section-wrapper-1 {
    width: 1300px;
    font-size: 20px;
    margin: 0 auto;
  }

  .description1 {
    width: 447px;
    margin: 0 auto;
  }

  .languages-section {
    width: 447px;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    text-align: center;
    border-bottom: 1px solid #646369;
    padding: 0 0 40px 0;
  }

  .midle-section {
    border: none;
  }

  .lanuage-title {
    font-size: 17px;
    text-align: start;
  }

  .language-item {
    font-size: 14px;
    text-align: start;
    line-height: 30px;
  }

  .my-work2 {
    display: none;
  }

  .my-work {
    padding: 0;
  }

  .social-media-icons {
    align-self: flex-end;
  }

  .social-media-icons2 {
    display: none;
  }

  .arrow-icon-container {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
  }

  .my-recent-work {
    padding: 40px;
  }

  .multipost-stories-item {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .multipost-stories-item1 {
    flex-direction: row-reverse;
  }

  .multipost-story-prgph {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }

  .my-recent-work-section {
    width: auto;
    background: url("./assets/second-section-circles.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    padding: 130px 0 260px 130px;
  }

  .my-recent-work{
    color: #9390FF;
  }

  .contact-us-heading {
    display: none;
  }

  .contact-us-heading2 {
    display: block;
  }

  .social-medias-dsktop {
    display: flex;
    justify-content: center;
  }

  .footer-item {
    margin-left: 30px;
  }

  .section-three {
    width: 684px;
    margin: 0 auto;
    border: none;
  }

  .social-icon {
    height: 20px;
    width: 17.985200881958008px;
    left: 0.01396942138671875px;
    top: 0;
    border-radius: 0;
  }

  .footer {
    border-top: 1px solid #646369;
  }

  .footer-email,
  .footer-item,
  .footer-item1 {
    margin: 0;
    padding: 20px;
  }

  .last-btn {
    width: 160px;
    height: 48px;
  }

  .see-project-button {
    margin: 0;
    padding: 0;
  }

  .multipost-stories-title,
  .multipost-story-prgph {
    margin-bottom: 20px;
  }
}
